[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh/custom/plugins/zsh-ask"]
	path = oh-my-zsh/custom/plugins/zsh-ask
	url = https://github.com/Licheam/zsh-ask
